* {
  color: #ececec;
  font-family: Roboto, 'Open Sans', 'Helvitaca Neue', 'sans-sarif';
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  background-color: #212121;
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: auto;
  }
}

*::selection {
  background-color: #3b82f6 !important;
  /* your GemAI accent color */
  color: #ffffff !important;
  /* white text for readability */
  /* text color when selected */
}